body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #002b5c;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.hero {
    padding: 60px;
    text-align: center;
    background: white;
}

footer {
    background: #002b5c;
    color: white;
    text-align: center;
    padding: 15px;
}
